@import "./base/_normalize";
@import "./abstracts/variables";
@import "./abstracts/mixins";
html,body {
	font-size: 10px;
}
body {
	height: 100%;
	background: #333;
	color:#111;
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	min-height: 100%;
	max-width: 1440px;
	margin:0 auto;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	@include media (md, max) {
		padding:0 50px;
	}
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@import "./components/title";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
