.work {
	&__item {
		list-style: none;
		padding-bottom: 60px;
	}
	&__place {
		margin: 0;
		color: #484848;
		font-size: 2rem;
		letter-spacing: 0.3rem;
	}
	&__duration {
		display: inline-block;
		margin-left: 5px;
		margin-top: 5px;
		color: rgb(72, 72, 72);
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}
	&__accomplished {
		margin-top: 10px;
		&-item {
			margin-top: 10px;
			list-style: inside;
			font-size: 1.6rem;
		}
		&-link {
			font-size: 1.6rem;
			text-decoration: underline;
			color:#333;

		}
	}
	&__project {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 25px;
		&-link {
			display: block;
			transition: opacity 0.5s ease;
			&:hover {
				opacity: 0.5;
			}
		}
		&-img {
			max-width: 100%;
		}
		&-description {
			margin-top: 25px;
			line-height: 2.3rem;
			span {
				font-weight: 600;
				font-size: 1.7rem;
			}
			font-size: 1.5rem;
		}
	}

}
