.contacts {
	&__list {
		display: grid;
		font-size: 2rem;
		grid-template-columns: 1fr 1fr;
		row-gap: 20px;
	}
	&__item {
		list-style-type: none;
	}
	&__link {
		font-size: 1.8rem;
		color: rgba(17, 17, 17, 0.747);
		&:hover {
			color: rgb(17, 17, 17);
		}
	}
}
