.header {
	background-color:$blueBg;
	padding: 20px 0;
	.container {
		align-items: center;
		@include media (sm, max) {
			padding: 10px 0;
		}
	}
	&__photo {
		position: relative;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		overflow: hidden;

		&-item {
			position: absolute;
			top: 0;
			left: 8%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(2.5);
		}
	}
	&__title {
		color:#fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-transform: uppercase;
		margin-right: 150px;
		@include media (md, max) {
			margin: 0;
			padding-top: 15px;
		}
		&-name {
			font-size: 6rem;
			@include media (sm, max) {
				font-size: 5rem;

			}
			@include media (xs, max) {
				font-size: 3.3rem;
			}
			@include media (xss, max) {
				font-size: 3rem;
			}
		}
		&-position {
			font-size: 2rem;
			letter-spacing: 1rem;
			line-height: 1.8;
			font-weight: 400;
			@include media (xs, max) {
				letter-spacing: 0.4rem;
			}
			@include media (xss, max) {
				font-size: 1.5rem;
			}
		}
	}
}

@import "../components/menu";
