.header {
	background-color:$blueBg;
	padding: 20px 0;
	&__photo {
		position: relative;
		width: 250px;
		height: 250px;
		border-radius: 50%;
		overflow: hidden;
		&-item {
			position: absolute;
			top: 0;
			left: 8%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(2.5);
		}
	}
	&__title {
		color:#fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-transform: uppercase;
		&-name {
			font-size: 8rem;
		}
		&-position {
			font-size: 4rem;
			letter-spacing: 10px;
			line-height: 1.8;
			font-weight: 400;
		}
	}
}
