.main {
	flex: 1 1 auto;
	padding-bottom: 50px;
	.container {
		flex-grow: 1;
	}
}
.about {
	flex-basis: 35%;
	@include media (ms, max) {
		flex-basis: 100%;
	}
}
.experience {
	flex-basis: 65%;
	padding-left: 50px;
	@include media (ms, max) {
		padding:0;
		flex-basis: 100%;
	}
}
@import "./about/information";
@import "./about/language";
@import "./about/contacts";
@import "./about/skills";
@import "./about/courses";
@import "./experience/abilities";
@import "./experience/work";
@import "./experience/code.scss";
